[Unit]
Description=NemoBlocks Service Script
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash /home/zach/NemoBlock/nemo_blocks_start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target